h1 {
  color: red;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}
body{
  color: blue;
  /*background-image: url(virus.jpg);*/
  /*background-color: chartreuse;*/
  padding-left: 75px;
}
div img{
  width: 300px;
  height: 200px;
}
li {
  word-spacing: 30px;
  letter-spacing: 10px;
}
button {
  border: 1px darkcyan solid;
  border-radius: 15px;
}